
:root {
    --header-bg: #fff;
    --header-textColor: #111517;
    --main-bg: #FAFAFA;
    --input-bg: #fff;
    --input-textColor: #000;
    --input-placeholder: #848484;
    --option-bg: #fff;
    --card-bg: #ffffff;
    --card-h: #111517;
    --card-span: #111517;
    --card-p: #111517;
    --shadow-color-light: rgba(0, 0, 0, 0.2); 
    --shadow-color-dark: rgba(255, 255, 255, 0.1);
  }

  .dark-theme {
    --header-bg: #2b3844;
    --header-textColor: #fff;
    --main-bg: #202c36;
    --input-bg: #2b3844;
    --input-textColor: #fff;
    --input-placeholder: #fff;
    --option-bg: #2b3844;
    --card-bg: #2b3844;
    --card-h: #fff;
    --card-span: #fff;
    --card-p: #fff;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



/* fonts */

/* nunito-sans-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/nunito-sans-v15-latin-300.woff2') format('woff2');
  }
  /* nunito-sans-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-sans-v15-latin-regular.woff2') format('woff2');
  }
  /* nunito-sans-600 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/nunito-sans-v15-latin-600.woff2') format('woff2');
  }
  /* nunito-sans-800 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/nunito-sans-v15-latin-800.woff2') format('woff2');
  }

body{
  background-color: var(--main-bg) ;
}
header{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--header-bg);
    color: var(--header-textColor);
}
  .container{
    width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
  
  .container {
    width: 1100px;
  }
}

@media (max-width: 1140px) {
  
  .container {
    width: 890px;
  }
}

@media (max-width: 950px) {
  
  .container {
    width: 700px;
  }
}





.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.header-logo h2{
  font-family: 'Nunito Sans';
  font-size: 24px;
  line-height: 33px;
}



.header-logo .parentBtn .btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family:'Nunito Sans';
    font-size: 16px;
    line-height:22px;
    gap: 8px;
    cursor: pointer;
}


.search .form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  position: relative;
}
.search-form input{
    font-family:  'Nunito Sans';
    padding: 10px 16px;
    padding-left: 60px;
    font-size: 16px;
    line-height: 20px;
   font-weight: 400;
   width: 480px;
   height: 57px;
   border: none;
   border-radius: 4px;
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
   background-color: var(--input-bg);
   color: var(--input-textColor);
}

::placeholder{
    font-family:  'Nunito Sans';
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: var(--input-placeholder);
}

.search-form .img{
    position: absolute;
    top: 68px;
    left: 30px;
}

.form-select{
    width: 200px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px 16px;
    background-color: var(--option-bg);
    color: var(--input-textColor);
}





.flags{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    padding-bottom: 80px;
    gap: 70px;
}

.flag-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 267px;
  height: 345px;
  box-shadow: 0px 0px 7px 2px #00000008;
  border-radius: 6px;
  background-color: var(--card-bg);
  cursor: pointer;
  margin-bottom: 20px;
  
  transition: all 0.3s ease-in-out;
}


.flag-list:hover{
  transform: scale(1.1);
}

.flag-list img{
  width: 267px;
  height: 160px; 
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-size: cover;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.list-things{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  margin-top: 20px;
}

 .list-things h3{
  font-family:'Nunito Sans';
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--card-h);
} 

.list-things .info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
}

.list-things .info li p{
  font-family:'Nunito Sans';
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
  color: var(--card-p);
}

.list-things .info li p span{
  font-family:'Nunito Sans';
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.matching-country{
  font-family:'Nunito Sans';
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: red;
}

.loader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.error{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hidden{
  display: none;
}


@media (max-width: 740px) {
  
  .container {
    width: 600px;
  }

  .search-form input{
    font-family:  'Nunito Sans';
    font-size: 16px;
    line-height: 20px;
   font-weight: 400;
   width: 343px;
   height: 56px;
   border: none;
   border-radius: 4px;
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
   background-color: var(--input-bg);
   color: var(--input-textColor);
}

.search-form .img{
  position: absolute;
  top: 68px;
  left: 21px;
}

}



@media (max-width: 640px) {
  
  .container {
    width: 550px;
  }

  .flags{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    gap: 20px;
}

}


@media (max-width: 580px) {
  
  .container {
    width: 450px;
  }

  .search .form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 14px;
    padding-top: 30px;
    position: relative;
    margin-left: 57px;
  }

  .search-form .img{
    position: absolute;
    top: 48px;
    left: 21px;
  }
  

}


@media (max-width: 470px) {
  
  .container {
    width: 368px;
  }

  .container-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-logo h2{
    font-family: 'Nunito Sans';
    font-size: 14px;
    line-height: 20px;
    font-weight: 800;
  }

  .header-logo .parentBtn .btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family:'Nunito Sans';
    font-size: 12px;
    line-height:16px;
    gap: 6px;
    cursor: pointer;
}


.search-form input{
  font-family:  'Nunito Sans';
  padding: 7px 13px;
  padding-left: 30px;
  font-size: 13px;
  line-height: 20px;
 font-weight: 400;
 border: none;
 border-radius: 4px;
 box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
 background-color: var(--input-bg);
 color: var(--input-textColor);
}

::placeholder{
  font-family:  'Nunito Sans';
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: var(--input-placeholder);
}


.search .container-search .form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 14px;
  padding-top: 30px;
  position: relative;
  margin-right: 40px;
}

.search-form input{
  font-family:  'Nunito Sans';
  padding: 7px 13px;
  padding-left: 30px;
  line-height: 20px;
 font-weight: 400;

 border: none;
 border-radius: 4px;
 box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
 background-color: var(--input-bg);
 color: var(--input-textColor);
}
  .search-form .img{
    position: absolute;
    top: 50px;
    left: 12px;
    width: 14px;
    height: 14px;
  }

  .form-select{
    width: 200px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 6px 14px;
    background-color: var(--option-bg);
    color: var(--input-textColor);
}
.flag-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 264px;
  height: 336px;
  box-shadow: 0px 0px 7px 2px #00000008;
  border-radius: 6px;
  background-color: var(--card-bg);
  cursor: pointer;
  margin-bottom: 18px;
}

.flag-list img{
  width: 264px;
  height: 160px; 
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-size: cover;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.list-things{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  padding-left: 18px;
  padding-bottom: 27px;
  margin-top: 18px;
}



.list-things .info li p{
  font-family:'Nunito Sans';
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: var(--card-p);
}

.list-things .info li p span{
  font-family:'Nunito Sans';
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

}